{% extends "patient-layout.html" %}

{% block title %}Patient Login - Health Portal{% endblock %}

{% block main %}
<section id="patient-login">
    <h2>Patient Login</h2>
    <div class="container">
        <div class="form-wrapper">
            <div class="image-container">
                <img src="/static/logo.png" alt="logo" />
            </div>
            <div class="form-content">
                <form action="/patient/login" method="post">
                    <div class="form-group">
                        <div class="form-field" id="patient-email">
                            <div>
                                <i class="fa fa-user"></i>
                            </div>
                            <input
                                type="email"
                                placeholder="Email"
                                name="email"
                                id="email"
                                onfocus="addBoxShadow('patient-email')"
                                onblur="removeBoxShadow('patient-email')"
                                required
                            />
                        </div>
                        <div class="form-field" id="patient-password">
                            <div>
                                <i class="fa fa-lock"></i>
                            </div>
                            <input
                                type="password"
                                placeholder="Password"
                                name="password"
                                id="password"
                                onfocus="addBoxShadow('patient-password')"
                                onblur="removeBoxShadow('patient-password')"
                                required
                            />
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}