{% extends "patient-layout.html" %}

{% block title %}Patient Home - Health Portal{% endblock %}

{% block main %}
    <h1>Welcome, {{ name }}</h1>
    <form id="patienthome" action="/patient/home" method="POST">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Doctor ID</th>
                    <th class="text-start">Doctor Name</th>
                    <th class="text-start">Date</th>
                    <th class="text-start">Diagnosis</th>
                    <th class="text-start">Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                    <tr>
                        <td class="text-start">{{ d["dId"] }}</td>
                        <td class="text-start">Dr. {{ d["doctor_name"] }}</td>
                        <td class="text-start">{{ d["date"] }}</td>
                        <td class="text-start">
                            <a href="/patient/{{ d['id'] }}">{{ d["diagnosis"] }}</a>
                        </td>
                        <td class="text-start">
                            <span 
                                class="d-inline-block text-truncate" 
                                style="max-width: 150px;" 
                                tabindex="0" 
                                data-bs-toggle="popover" 
                                data-bs-trigger="focus" 
                                title="Full Comment" 
                                data-bs-content="{{ d['desc'] }}">
                                {{ d['desc'] | truncate(30) }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('[data-bs-toggle="popover"]').popover();
        });
    </script>
{% endblock %}
