{% extends "patient-layout.html" %}

{% block title %}Patient Register - Health Portal{% endblock %}

{% block main %}
    <section id="patient-register">
        <h2>Patient Register</h2>
        <form action="/patient/register" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email" required>
            </div>
            <div class="mb-3">
                <label for="dob">Date of Birth</label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="dob" name="dob" placeholder="Date of Birth" type="date" required>
            </div>
            <select id="sex" name="sex" required>
                <option value="" disabled selected>Sex</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="unspecified">Unspecified</option>
            </select>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </section>
{% endblock %}