body {
    font-family: 'Lato', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ced4da;
    padding: 0.5em;
}

nav a {
    text-decoration: none;
    margin: 0 1em;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #0056b3;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #f8f9fa;
    color: #343a40;
}
